{% extends 'base.html' %} {% load static %} {% block content %} {% load humanize %}
<section class="py-24 relative">
  <div class="w-full max-w-7xl px-4 md:px-5 lg-6 mx-auto">
    <h2 class="title font-manrope font-bold text-4xl leading-10 mb-8 text-center text-black">Keranjang Belanja</h2>
    {% if cart and cart.items.all %}
    <div class="hidden lg:grid grid-cols-2 py-6">
      <div class="font-normal text-xl leading-8 text-gray-500">Produk</div>
      <p class="font-normal text-xl leading-8 text-gray-500 flex items-center justify-between">
        <span class="w-full max-w-[200px] text-center">Harga</span>
        <span class="w-full max-w-[260px] text-center">Jumlah Beli</span>
        <span class="w-full max-w-[200px] text-center">Total</span>
      </p>
    </div>
    {% for item in cart.items.all %}

    <div class="grid grid-cols-1 lg:grid-cols-2 min-[550px]:gap-6 border-t border-gray-200 py-6">
      <div class="flex items-center flex-col min-[550px]:flex-row gap-3 min-[550px]:gap-6 w-full max-xl:justify-center max-xl:max-w-xl max-xl:mx-auto">
        <div class="img-box"><img src="{{ item.product.image.url }}" alt="perfume bottle image" class="xl:w-[140px] rounded-xl object-cover" /></div>
        <div class="pro-data w-full max-w-sm">
          <h5 class="font-semibold text-xl leading-8 text-black max-[550px]:text-center">{{ item.product.name }}</h5>
          <h6 class="font-medium text-lg leading-8 text-hijau-primary max-[550px]:text-center">{{ item.product.price|intcomma }}</h6>
        </div>
      </div>
      <div class="flex items-center flex-col min-[550px]:flex-row w-full max-xl:max-w-xl max-xl:mx-auto gap-2">
        <h6 class="font-manrope font-bold text-2xl leading-9 text-black w-full max-w-[176px] text-center">Rp. <span>{{ item.product.price|intcomma }}</span></h6>
        <div class="flex items-center w-full mx-auto justify-center">
          <form method="POST" action="{% url 'update_cart_item' item.id %}" class="md:ml-16 mx-5">
            {% csrf_token %}
            <input
              type="number"
              name="quantity"
              value="{{ item.quantity }}"
              min="1"
              class="border-y border-gray-200 outline-none text-gray-900 font-semibold text-lg w-full max-w-[80px] min-w-[80px] placeholder:text-gray-900 py-[15px] text-center bg-transparent focus:ring-hijau-primary focus:border-hijau-primary"
            />
            <button type="submit" class="rounded-xl w-full max-w-[280px] py-1 text-center justify-center items-center bg-hijau-primary font-semibold text-white flex transition-all duration-500 hover:bg-green-700 my-3">Update</button>
          </form>
          <form method="POST" action="{% url 'update_cart_item' item.id %}" class="md:ml-20 mx-5">
            {% csrf_token %}
            <h6 class="font-manrope font-bold text-2xl leading-9 text-black w-full max-w-[176px] text-center">Rp. <span>{{ item.total_price|intcomma }}</span></h6>
            <input type="hidden" name="quantity" value="0" />
            <button type="submit" class="rounded-xl w-full max-w-[280px] py-1 text-center justify-center items-center bg-hijau-primary font-semibold text-white flex transition-all duration-500 hover:bg-green-700 my-3">Hapus</button>
          </form>
        </div>
      </div>
    </div>

    {% endfor %}

    <div class="bg-gray-50 rounded-xl p-6 w-full mb-8 max-lg:max-w-xl max-lg:mx-auto">
      <div class="flex items-center justify-between w-full py-6">
        <p class="font-manrope font-medium text-2xl leading-9 text-gray-900">Total</p>
        <h6 class="font-manrope font-medium text-2xl leading-9 text-hijau-primary">Rp. <span>{{ cart.total_price|intcomma }}</span></h6>
      </div>
    </div>
    {% else %}
    <p>Keranjang kosong, Silahkan tambah produk anda</p>
    {% endif %}
    <div class="flex items-center flex-col sm:flex-row justify-center gap-3 mt-8">
      <button class="rounded-full w-full max-w-[280px] py-4 text-center justify-center items-center bg-hijau-primary font-semibold text-lg text-white flex transition-all duration-500 hover:bg-green-700">
        Lanjutkan Ke Pembayaran
        <svg class="ml-2" xmlns="http://www.w3.org/2000/svg" width="23" height="22" viewBox="0 0 23 22" fill="none">
          <path d="M8.75324 5.49609L14.2535 10.9963L8.75 16.4998" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
  </div>
</section>

{% endblock %}
